@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Lato;
    color:aliceblue;
    background-color: #49260A;
}
h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:aliceblue;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 25px;

}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}
#logo , #menu {
    line-height: 80px;
}
#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}
